:root {
  font-family: cursive;
  line-height: 1.5;
  color-scheme: light dark;
  color: #ffffffde;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* preset */
*,*::before,*::after{
  box-sizing: border-box;
  font-weight: normal;
}



body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
     rgb(6, 6, 79),
     teal,
     #321C51 );
     background-size: 400% 400%;
     animation: gradient 10s ease infinite;   
     height: 100%; 
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}




